#porcentDesayuno{
    display: none;
}
#porcentBrunch{
    display: none;
}
#porcentComida{
    display: none;
}
#porcentSnack{
    display: none;
}
#porcentCena{
    display: none;
}
.form{
    margin-top: 50px;
    margin-bottom: 50px;
}
.titulo-form{
    padding-top: 30px;
    padding-bottom: 30px;
}
