
.box{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    border-bottom: 1px solid black;
    box-shadow: 0px 10px 10px -6px black;
}

.object{
    width: 100%;
    border: solid 0.02rem black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    min-height: 500px;
}
.box-header{
    width: 90%;
    margin-top: 20px;
}
.box-content{
    width: 90%;
    height: 60%;
    margin-top: 30px;
}
a>i{
    font-size: 30px;
}
.box-header .title{
    width: 40%;
    display: flex;
    flex-direction: column;
}
.encabezado4{
    font-weight: bold;
}

.iconos{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}
.img{
    width: 100%;
}
.td-img{
    width: 30%;
}
.td-buttons{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    width: 30%;
}
.td-descript{
    width: 40%;
}
.tr-general{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.receta:hover{
    border-color: rgba(20, 20, 2, 0.1);
    box-shadow: 0 1px 1px rgba(20, 20, 2, 0.075) inset, 0 0 8px rgba(20, 20, 2, 0.2);
    outline: none;
    transition: all 0.3s linear;
}

.receta-box{
    margin-top: 30px;
    margin-bottom: 30px;
}
.receta-box:hover{
    background-color: grey;
}
.form-card-header{
    margin-top: 20px;
}

.query{
    margin-top: 20px;
    margin-bottom: 20px;
}
.card.recipe-search{
    background-color: #dedede;
}


@media (max-width: 770px){

    .content-body{
        display: flex;
        flex-direction: column;
    }
    .label-productos{
        display: flex;
        flex-direction: row;
    }
}


