@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}
#accordionSidebar{
    width: 100vh;
}
canvas{
    max-height: 30%; 
}
p{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}
span{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 16px;
}
.box{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    border-bottom: 1px solid black;
    box-shadow: 0px 10px 10px -6px black;
}

.object{
    width: 100%;
    border: solid 0.02rem black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    min-height: 500px;
}
.box-header{
    width: 90%;
    margin-top: 20px;
}
.box-content{
    width: 90%;
    height: auto;
    margin-top: 30px;
}

a>i{
    font-size: 30px;
}
.box-header .title{
    width: 40%;
    display: flex;
    flex-direction: column;
}
.encabezado4{
    font-weight: bold;
}

.iconos{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}
.img{
    width: 100%;
}
.td-img{
    width: 30%;
}
.td-buttons{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    width: 30%;
}
.td-descript{
    width: 40%;
    padding-left: 10px;
    font-weight: bold;
}
.tr-general{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
aside{
    left: 0;
    top:0;
    right: 0;
    z-index: 1;
    
}
.white{
    color:white;
}
.fixed{
    position: fixed;
}
.receta{
    margin-bottom: 30px;
    margin-left: 30px;
}
.receta:hover{
    border-color: rgba(20, 20, 2, 0.1);
    box-shadow: 0 1px 1px rgba(20, 20, 2, 0.075) inset, 0 0 8px rgba(20, 20, 2, 0.2);
    outline: none;
    transition: all 0.3s linear;
}

.receta-box{
    margin-top: 30px;
    margin-bottom: 30px;
}
.receta-box:hover{
     border-color: rgba(20, 20, 2, 0.1);
    box-shadow: 0 1px 1px rgba(20, 20, 2, 0.075) inset, 0 0 8px rgba(20, 20, 2, 0.2);
    outline: none;
    transition: all 0.3s linear;
}
.form-card-header{
    margin-top: 20px;
}
.card-footer{
    margin-top: 20px;
}
.query{
    margin-top: 20px;
    margin-bottom: 20px;
}
.card.recipe-search{
    background-color: #dedede;
}
.change-pass{
    height: 80vh;
}
.table{
    margin-top: 30px;
}
a > span{
    text-decoration: none;
    color: black;
}
input[type="date"]{
    border-radius: 15px;
    width: 60%;
}
.inputs{
    padding: 0;
    margin:0;
}
/*footer*/
footer{
    margin-top: 50px;
}
.text-reset{
    font-size: 16px;
    color: white;
    text-decoration: underline;
}
.butons{
    width: 60%;
}
@media (max-width: 770px){

    .fw-normal{
        font-size: 14px;
    }
    .content-body{
        display: flex;
        flex-direction: column;
    }
    .label-productos{
        display: flex;
        flex-direction: row;
    }
}
@media (max-width: 450px){

    .fw-normal{
        font-size: 12px;
        text-align: center;
        height: 50px;
    }
    .content-body{
        display: flex;
        flex-direction: column;
    }
    .label-productos{
        display: flex;
        flex-direction: row;
    }
}


